<!DOCTYPE html>
<html>
<head>
    <title>新维修订单</title>
</head>
<body>
    <h1>订单内容：</h1>
    <p><strong>订单编号</strong>: {{no}}</p>
    <p><strong>下单时间</strong>: {{createdAt}}</p>
    <p><strong>客户名称</strong>: {{clientName}}</p>
    <p><strong>客户电话</strong>: {{clientTel}}</p>
    <p><strong>客户地址</strong>: {{clientAddress}}</p>
    <p><strong>服务内容</strong>: {{service}}</p>
</body>
</html>